/* Styles for the Demo Wrapper */
html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
body {
  margin: 0;
  background-color: #e6e9ed;
  font-family: "Lato", sans-serif;
}
header {
  background-color: #254d86;
}
header h1,
header a {
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
header h1 {
  float: left;
  margin: 0;
}
header a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  float: right;
  background-color: #1a365e;
}
header a:hover {
  background-color: #1f4272;
}
.demo-content {
  max-width: 400px;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 90px;
}

/* Styles for the Advent Calendar */
ul#adventDoors {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
#adventDoors li {
	position: absolute;
}
#adventDoors li a {
	color: #fff;
	width: 100%;
	height: 100%;
	font-size: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	border: 1px #fff solid;
}
#adventDoors li a:not(.disabled):hover {
	color: #fff;
	background-color: transparent;
	background-color: rgba(255,255,255,0.15);
}
#adventDoors li a.disabled {
	border-color: #ff6363;
	background-color: rgba(196,254,171,0.15);
	color: #ff6363;
	cursor: default;
}

/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}